<div id="change-bank">

  <p-inputGroup class="rounded pe-0 p-2 ">
    <p-inputGroupAddon class="bg-transparent">
      <i class="pi pi-search"></i>
    </p-inputGroupAddon>
    <input type="search"pInputText placeholder="Search for bank" class="bg-transparent"
    (keyup)="filterData($event)" />
  </p-inputGroup>

  <div class="flex flex-column gap-3 p-3">
    <div *ngFor="let item of items" class="field-checkbox">
      <p-radioButton [inputId]="item.key" name="item" [value]="item"
      [(ngModel)]="selecteditem">
      </p-radioButton>
      <label [for]="item.key" class="ml-2">
        {{ item.name }}
      </label>
    </div>
  </div>

</div>
<!-- <button (click)="close()" class="btn btn-primary ">close</button> -->
