<div id="dropdown-language">
  <div class="dropdown ">
    <button class="dropdown-toggle flex items-center m-2 text-white" type="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      <a class="text-white">
        <i class="pi pi-language m-2"></i>
        <span>English</span>
      </a>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item gap-2 d-flex justify-content-center ">
          <img src="assets/images/flag/us.webp" alt="USA" >
          <span>English</span>
        </a>
      </li>
      <li>
        <a class="dropdown-item gap-2 d-flex justify-content-center ">
          <img src="assets/images/flag/Egypt-flag.jpg" alt="Egypt" >
          <span>Arabic</span>
        </a>
      </li>
    </ul>
  </div>
</div>
