<div id="dropdown-language">
  <div class="dropdown ">
    <button class="dropdown-toggle flex items-center m-2 text-white " type="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      <a class="text-white">
        <i class="pi pi-language m-2">
        </i>English</a>
    </button>

    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item d-flex text-sm font-medium">
          <img src="assets/images/flag/us.webp" class="w-25 ">
          <span>English</span>
        </a>
      </li>
      <li><a class="dropdown-item d-flex text-sm font-medium"><img src="assets/images/flag/sa.webp" class="w-25 ">
          Arabic </a></li>
    </ul>
  </div>
</div>