<div id="theme-dropdown">
<div class="dropdown ">
  <button class="dropdown-toggle flex items-center text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <a class="text-lg font-semibold">
      <i class="pi pi-sun"></i>
    </a>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item">
        <i class="fa-solid fa-moon m-2"></i>
        <span>Dark Mode</span>
      </a>
    </li>
    <li>
      <a class="dropdown-item">
        <i class="pi pi-sun m-2"></i>
        <span>Light Mode</span>
      </a>
    </li>
  </ul>
</div>

</div>
