ul.p-tabview-nav {
  display: inline-flex;
  min-width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// .p-ink {
//   display: block;
//   position: absolute;
//   background: rgba(255,255,255,.5);
//   border-radius: 100%;
//   transform: scale(0);
// }
// .p-tabview-nav-link

// :host:ng-deep {

// }
.p-tabview .p-tabview-panels {
  background: #ffffff;
  padding: 1.25rem;
  border: 0 none;
  color: #4b5563;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.p-tabview-ink-bar {
  display: none;
  z-index: 1;
}
.p-tabview-title {
  line-height: 1;
  white-space: nowrap;
}
.card {
  background: var(--surface-card);
  border: var(--card-border);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
