
.hero {
  height: 40vh;
  background-image: url('../../../assets/images/home/home3.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  h1{
    padding-bottom: 15px;
  }
  input{
    width: 500px;
  }
}
// ul.p-tabview-nav {
//   display: inline-flex;
//   min-width: 100%;
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
// }

.card {
  background: var(--surface-card);
  border: var(--card-border);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;

}
