
.hero {
  height: 40vh;
  background-image: url('../../../assets/images/home/home3.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
}
h1{
  font-size: 20px;
  color: white;

}
.search-container {
  margin-top: 20px;
}


