<div id="nav-dash">
 <nav class="navbar navbar-expand-lg">
    <div class="container ">
        <a class="navbar-brand d-flex justify-content-between">
      <button type="button"class="btn btn-primary ">
        <i class="pi pi-align-justify"></i>
      </button>
      <img src="assets/images/logo/logo.png " alt="Logo" class="logo ">
        </a>

    <div class="search-container justify-content-center">
      <form class="d-flex" role="search">
        <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>

    <div class= "relative flex h-15 items-center justify-between">
      <app-theme></app-theme>
      <app-notification></app-notification>
      <app-userinfo></app-userinfo>
      <app-language></app-language>
   </div>

    </div>
  </nav>

</div>
